@charset "UTF-8";
/* adaptacion bootstrap header */
.activo {
  font-weight: bold;
  font-size: 17px;
  color: #29bce0 !important; }

.container-fluid {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.895);
  min-height: 80px;
  z-index: 1; }

/* animacion del nav*/
.nav-item a {
  position: relative; }

.nav-item a:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #29bce0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s; }

.nav-item a:hover:after {
  transform: left;
  transform: scaleX(1); }

.nav-link:hover,
a:hover,
.activo:hover {
  color: #29bce0; }

i:hover {
  color: white; }

/* NavBar adaptaciones*/
.navbar {
  height: 80px; }

.nav-link {
  color: white; }

.navbar-brand img {
  width: 200px; }

.submenu {
  list-style: none;
  font-size: 0; }

.nav-link {
  display: inline-block;
  position: relative; }

.submenu {
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.781);
  padding: .5rem; }

.submenu .submenu__li {
  display: block; }

.nav-item:hover .submenu {
  display: block; }

.fa-caret-down {
  font-size: 13px !important; }

/* Footer */
.cab--footer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 180px;
  padding: 2.5rem; }

.cab--footer p {
  color: #29bce0; }

.redes i {
  font-size: 2rem;
  margin: 15px; }

.transparencia--footer {
  background-color: rgba(0, 0, 0, 0.445); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
  font-size: 15px; }

i {
  color: #29bce0; }

img {
  border-radius: 0.3rem;
  width: 100%; }

p {
  text-align: justify; }

.heading {
  font-size: 30px;
  font-weight: lighter !important;
  margin-bottom: 1rem; }

.heading__2 {
  font-size: 20px;
  font-weight: lighter !important;
  margin-bottom: 1rem; }

/* Index */
.seccion {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto; }
  .seccion img {
    max-width: 800px; }

.section__empresa {
  background-image: url(../Imagenes/pexels-photo-1118786.jpeg);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px; }

.carousel-inner {
  padding: 1rem; }

.section__productos {
  background-image: url(../Imagenes/productos.jpeg);
  background-repeat: no-repeat;
  background-position: cover; }

h2 {
  font-weight: 500;
  font-size: 30px; }

h3 {
  font-size: 20px;
  font-weight: lighter !important; }

.col-md p {
  margin-bottom: 0; }

.destacado {
  font-weight: 700;
  font-size: 18px; }

.container,
.contenedor-m,
.fondo,
.negro,
.negro__bottom,
.negro__top,
.contenedor,
.contenedor__empresa {
  background-image: linear-gradient(rgba(82, 82, 82, 0.895), rgba(0, 0, 0, 0.895));
  padding: 2.5rem 1.2rem 1.2rem 1.2rem;
  border-radius: 0.3rem; }

.contenedor {
  background-image: none;
  background-color: black; }


.contenedor-m,
.fondo,
.negro,
.negro__bottom,
.negro__top {
  max-width: 1300px;
  margin: 0 auto; }

.col-md-4 {
  gap: .5rem;
  padding: 0 !important; }

.col-md-4 {
  padding: 0.8rem;
  border-radius: 0.3rem; }
  .col-md-4 img {
    width: 100%; }

/* Opacidad */
.fondo {
  background-image: linear-gradient(rgba(82, 82, 82, 0.895), rgba(0, 0, 0, 0.895)) !important;
  margin: 50px auto  50px auto !important;
  padding: 2.5rem 1.2rem 1.2rem 1.2rem;
  border-radius: 0.3rem; }

.opacidadoff {
  opacity: 0.7;
  padding: 0.3rem !important;
  margin-bottom: 0.5rem; }

.opacidadoff:hover {
  border: solid 3px #0dcaf0;
  opacity: 1; }

.margin {
  margin: 0 20px 0 20px !important; }

.section__contacto {
  background-image: linear-gradient(to top, #141414, rgba(20, 20, 20, 0)); }

.contenedorContactos {
  max-width: 600px !important; }

.btn-outline-info {
  width: 100%; }

.fa-solid {
  font-size: 30px; }

.iconos {
  width: 30%;
  height: 150px;
  background-color: rgba(160, 160, 160, 0.274);
  border-radius: 00.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 .5rem .5rem .5rem;
  font-size: 15px; }

.form-control, #exampleFormControlTextarea1 {
  background-color: rgba(160, 160, 160, 0.274);
  color: white;
  width: 100%; }

#exampleFormControlTextarea1 {
  margin-bottom: 1rem;
  max-height: 400px;
  min-height: 300px; }


.contenedor-m,
.fondo,
.negro,
.negro__bottom,
.negro__top {
  max-width: 1300px;
  margin: 0 auto;
  background-image: none; }

.section__light {
  background-image: linear-gradient(to bottom, #141414, rgba(20, 20, 20, 0));
  margin-bottom: 100px; }
  .section__light h1, .section__light h2, .section__light p {
    color: white; }

.fondo {
  background-image: linear-gradient(to, rgba(20, 20, 20, 0.938), rgba(20, 20, 20, 0)); }

.negro {
  border-right: solid 3px #29bce0;
  border-left: solid 3px #29bce0;
  border-radius: 0.2rem; }

.negro__bottom {
  border-bottom: solid 3px #29bce0;
  border-radius: 0.2rem; }

.negro__top {
  border-top: solid 3px #29bce0;
  border-radius: 0.2rem; }

.section__dark {
  background-image: linear-gradient(to top, #141414, rgba(20, 20, 20, 0.18)); }

.fondo__1 {
  background-image: url(../Imagenes/pexels-soloman-soh-1492232.jpg);
  background-attachment: fixed; }

.fondo__2 {
  background-image: url(../Imagenes/pexels-mitchell-luo-3809772.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

body p {
  font-size: 17px; }

@media screen and (min-width: 2560px) {
  .contenedorContactos {
    min-width: 1100px; } }

@media screen and (min-width: 2560px) {
  .seccion {
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center; } }

/* --------------------------Diseño resposive Tablet-------------------------- */
@media screen and (max-width: 1023px) {
  /* Header */
  .nav-item .activo {
    display: none; }
  .container-fluid {
    position: relative; }
  .navbar-brand {
    display: none; }
  .nav-item a {
    z-index: 100;
    color: #29bce0 !important;
    padding: 1rem !important;
    border-radius: 0.3rem; }
  .nav-item a:hover:after {
    display: none; }
  .nav-item a {
    color: #00aeff !important; }
  .negro {
    border: none; }
  .opacidadoff {
    opacity: 1; }
    .opacidadoff:hover {
      border: none;
      background-color: transparent; } }

/* --------------------------Diseño resposive Mobile-------------------------- */
@media screen and (max-width: 600px) {
  .contenedor-m-b {
    padding: 0; }
  .fondo__1,
  .fondo__2 {
    background-image: url(../Imagenes/metal.jpeg);
    background-attachment: fixed;
    background-position: 100%; }
  /* header MQ */
  .nav-item .activo {
    display: none; }
  .MQB {
    background-color: rgba(0, 0, 0, 0.527); }
  h3 {
    display: none; }
  .seccion {
    min-height: 60vh; }
  .nav-item a:hover:after {
    display: none; }
  .container {
    padding: 1.5rem; }
  /* footer MQ */
  .cab--footer {
    justify-content: center;
    flex-direction: column;
    min-height: 210px; }
  .info {
    font-size: 12px;
    line-height: 18px;
    text-align: center; }
  .navbar-toggler-icon i {
    font-size: 25px; }
  /* --------------------------Inicio MQ-------------------------- */
  .seccion__img {
    margin-top: 100px !important;
    margin: 0 auto; }
    .seccion__img img {
      max-width: 400px; }
  .btn,
  .btn-outline-info {
    margin-bottom: 1rem; }
  /* --------------------------Empresa MQ-------------------------- */
  .carousel-inner {
    display: none; }
  .col-md-4 {
    padding: 0; }
  .iconos {
    width: 95% !important; } }
