.fa-solid   {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    
 
    
}

.iconos {
    width: 180px;
    height: 150px;
    background-color: rgba(160, 160, 160, 0.274);
    border-radius: 00.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 .5rem .5rem .5rem;
    font-size: 15px;


}

.form-control  {
    background-color: rgba(160, 160, 160, 0.274);
    color: white;
    width: 100%    
}


#exampleFormControlTextarea1 {
    @extend.form-control;
    
    margin-bottom: 1rem;
    max-height: 400px;
    min-height: 300px;
    
}

.col-md  p{
    
    margin-bottom: 0;
    
  
    display: flex;
    justify-content: center;
}

.destacado {
    font-weight: 700;
    font-size: 18px;
}

.container, .contenedor-m, .contenedor  {
    @include Estilo-Contenedor(linear-gradient(rgba(82, 82, 82, 0.895), rgba(0, 0, 0, 0.895)), 2.5rem 1.2rem 1.2rem 1.2rem, 0.3rem)
    
 }

.contenedor-m {
    max-width: 1300px;
    margin: 0 auto;

}

.contenedorImg {
width: 1200px;  
    background-color: rgba(0, 0, 0, 0.377);
}

.col-md-4 {
    border: 0 .5 .5 .5 !important;


//contenedor contactos
}
.contenedorContactos {
    @extend .contenedor-m;
    max-width: 640px;
}

 .btn-outline-info {
    width: 100%;
}
