// ARCHIVO DE CONTENEDORES

// columna empresa----------------------------------
.col-md p {
    margin-bottom: 0;
 
}

.destacado {
    font-weight: 700;
    font-size: 18px;
}


// aplicando estilos a contenedores con SASS (luego se anulan algunas declaraciones por cambios esteticos)

.container,
.contenedor-m,
.contenedor,
.contenedor__empresa {
@include Estilo-Contenedor(linear-gradient(rgba(82, 82, 82, 0.895), rgba(0, 0, 0, 0.895)), 2.5rem 1.2rem 1.2rem 1.2rem, 0.3rem);
}

// columna Obras -----------------------------
.contenedor {
    background-image: none;
    background-color: black;
}

// contenedor y columna Productos -------------------------
.contenedor-m {
    max-width: 1300px;
    margin: 0 auto;
}

.col-md-4 {
    gap: .5rem;
    padding: 0 !important;
}

//-----
.col-md-4 {
    padding: $border-padding;
    border-radius: $container-border;
    & img {
        width: 100%;
    }
}

// opacidad productos

/* Opacidad */

.fondo {
    background-image: linear-gradient(rgba(82, 82, 82, 0.895), rgba(0, 0, 0, 0.895)) !important;
    margin: 50px auto  50px auto !important;
    padding: 2.5rem 1.2rem 1.2rem 1.2rem;
    border-radius: 0.3rem;
}

.opacidadoff {
    opacity: 0.7;
    padding: 0.3rem !important;
    margin-bottom: 0.5rem;
}



.opacidadoff:hover {
    border: solid 3px #0dcaf0;
    opacity: 1;
  
}

.margin {
    margin: 0 20px 0 20px !important;
}

// Contactos -----------------------

.section__contacto {
    background-image: linear-gradient(to top, rgb(20, 20, 20), rgba(20, 20, 20, 0));
}
.contenedorContactos {
    max-width: 600px !important;
}

.btn-outline-info {
    width: 100%;
}

// icono contacto
.fa-solid {
    font-size: 30px;
   
}

.iconos {
    width: (90%/3);
    height: 150px;
    background-color: rgba(160, 160, 160, 0.274);
    border-radius: 00.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 .5rem .5rem .5rem;
    font-size: 15px;
}

// formulario
.form-control {
    background-color: rgba(160, 160, 160, 0.274);
    color: white;
    width: 100%;
}

#exampleFormControlTextarea1 {
    @extend.form-control;
    margin-bottom: 1rem;
    max-height: 400px;
    min-height: 300px;
}









