/* Footer */


.cab--footer {
    margin: 0 auto;
    @include Flex(space-between, center);
    height: 180px;
    padding: 2.5rem;
}

.cab--footer p {
    color: #29bce0;
}

.redes i {
    font-size: 2rem;
    margin: 15px;
}

.transparencia--footer {
    background-color: rgba(0, 0, 0, 0.445);
  }
  
