// ARCHIVO DEL FOOTER


.cab--footer {
    margin: 0 auto;
    @include Flex(space-between, center);
    height: 180px;
    padding: 2.5rem;
}

// parrafos del footer

.cab--footer p {
    color: #29bce0;
}

// iconos del footer

.redes i {
    font-size: 2rem;
    margin: 15px;
}

// trasnparencia del contenedor footer

.transparencia--footer {
    background-color: rgba(0, 0, 0, 0.445);
  }
  
