* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
    font-size: 15px;
}

i {
    color: rgb(0, 174, 255);
    ;
}

body {
    
    background-repeat: no-repeat;
    
    background-position: center;
    background-size: auto;
    object-fit: cover;
background-attachment: fixed;
}


/* bootstrap header */

.transparencia {
    background-image: linear-gradient(to left, rgba(82, 82, 82, 0.895), rgba(0, 0, 0, 0.895));
}

.activo {
    font-weight: bold;
    font-size: 17px;
    color: rgb(0, 174, 255) !important;
}


/* .cab--footer {
display: flex;
align-items: center;
min-height: 220px;
}*/

.container-fluid   {
    position: fixed;
    background-image: linear-gradient(to left, rgba(82, 82, 82, 0.895), rgba(0, 0, 0, 0.895));
    min-height: 80px;
    z-index: 1;
}


/* animacion*/

.nav-item a {
    position: relative;
}

.nav-item a:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: rgb(0, 174, 255);
    ;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s;
}

.nav-item a:hover:after {
    transform: left;
    transform: scaleX(1);
}

.nav-link:hover,
a:hover,
.activo:hover {
    color: rgb(0, 174, 255);
    ;
}

i:hover {
    color: white;
}


/* fin animacion */


/* NavBar adaptaciones*/

.navbar {
    height: 80px;
}

.nav-link {
    color: white;
}

.navbar-brand img {
    width: 150px;
}


/* Borde */

.col {
  
    padding: 0.8rem;
    border-radius: 0.3rem;
}