// a todo el sitio

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
    font-size: 15px;
}

// a todos los iconos
i {
    color: #29bce0;
}

// a todas las imagenes
img {
    border-radius: 0.3rem;
    width: 100%;
}

// a todos los parrafos
p {
    text-align: justify;
}

// headings 

.heading {
    font-size: 30px;
    font-weight: lighter !important;
    margin-bottom: 1rem;
}

.heading__2 {
    font-size: 20px;
    font-weight: lighter !important;
    margin-bottom: 1rem;
}

/* Index */

.seccion {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0 auto;

    & img {
        max-width: 800px;
    }
}


// section empresa (esto fue pisado por otras declaraciones, se dejo en el archivo por la implementacion de SASS)

$section-estilo: (modo: flex, eje-x: center, eje-y: center, Min-H: 100vh, );

.section__empresa {
    background-image: url(../Imagenes/pexels-photo-1118786.jpeg);
    display: map-get($section-estilo, modo);
    justify-content: map-get($section-estilo, eje-x);
    align-items: map-get($section-estilo, eje-x);
    min-height: map-get($section-estilo, Min-H);
    margin: 0px;
}

//carrucel empresa
.carousel-inner {
    padding: 1rem;
}

// section productos (tambien fue pisada por otras declaraciones)

.section__productos {
    background-image: url(../Imagenes/productos.jpeg);
    background-repeat: no-repeat;
    background-position: cover;
}

h2 {
    font-weight: 500;
    font-size: 30px;
}

h3 {
    font-size: 20px;
    font-weight: lighter !important;
}