@import "Parciales/Variables";

/* --------------------------Diseño resposive Tablet-------------------------- */

@media screen and (max-width: 1023px) {

   /* Header */

    .navbar-brand {
        display: none;
    }
    .nav-item a {
        background-image: linear-gradient(to right, rgba(82, 82, 82, 0.85), rgba(0, 0, 0, 0.85));
        z-index: 100;
        color:rgb(0, 174, 255) !important;
        padding: 1rem !important;
        border-radius: $container-border;
        
    }
    .nav-item a:hover:after {
        display: none;
       }

    .nav-item a {
        color:rgb(0, 174, 255) !important;
    }

    .opacidadoff {
        opacity: 1;
        }
}
/* --------------------------Diseño resposive Mobile-------------------------- */

@media screen and (max-width: 600px) {
    /* header MQ */
    .navbar-brand {
        display: none;
    }
    

    body {
        background-image: url(../Imagenes/pexels-damir-mijailovic-5209979.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        object-fit: contain;
         }

.nav-item a:hover:after {
display: none;
}
    .container {
        padding: 1.5rem;
    }
    .opacidadoff {
        opacity: 1;
    }

    
 
    /* footer MQ */
    .cab--footer {
        justify-content: center;
        flex-direction: column;
        min-height: 210px;
    }
    .info {
        font-size: 12px;
        line-height: 18px;
        text-align: center;
    }

    .navbar-toggler-icon i {
        font-size: 25px;
    }
    /* --------------------------Inicio MQ-------------------------- */
    
    .seccion__img {
        
        margin-top: 100px !important;
        margin: 0 auto;
         & img {
             width: 100%;
             max-width: 400px;
             margin: 0 auto;
             display: block;
         }
     }

    
  
    /* --------------------------Empresa MQ-------------------------- */
    .carousel-inner {
        display: none;
    }

    .col-md-4 { margin-bottom: 0.5rem;
    }
 }