$container-color: linear-gradient(rgba(82, 82, 82, 0.895), rgba(0, 0, 0, 0.895));
$container-padding: 2.5rem;
$container-border: 0.3rem;
$border-color: solid 3px rgb(112, 120, 138);
$border-padding: 0.8rem;
