.contenedor-m {
    max-width: 1300px;
    margin: 0 auto;
    background-image: none;
    

    border-radius: 0;
}

.section__light {
    background-image: linear-gradient(to bottom, rgba(20, 20, 20, 0.938), rgba(20, 20, 20, 0));
       & h1, h2, p {
        color: white
    }
}

.negro  {
    @extend .contenedor-m;
    border: solid 3px rgb(41, 188, 224);
    border-radius: 0.2rem;
   
    
    
 
    }


.nigga {
    background-image: url(../Imagenes/dark2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

   

.section__dark {
    background-image: linear-gradient(to top, rgb(20, 20, 20), rgba(20, 20, 20, 0.180));}

.fondo__1 {
    background-image: url(../Imagenes/pexels-soloman-soh-1492232.jpg);
    background-attachment: fixed;
}

.fondo__2 {
    background-image: url(../Imagenes/pexels-mitchell-luo-3809772.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}