.contenedor-m {
    max-width: 1300px;
    margin: 0 auto;
    background-image: none;
    

    border-radius: 0;
}

.section__light {
    background-image: linear-gradient(to bottom, rgb(20, 20, 20), rgba(20, 20, 20, 0.0));
    margin-bottom: 100px;   
    & h1, h2, p {
        color: white
    }
}
.fondo {
    @extend .contenedor-m;
    background-image: linear-gradient(to , rgba(20, 20, 20, 0.938), rgba(20, 20, 20, 0)); 
}
.negro  {
    @extend .contenedor-m;
    border-right: solid 3px rgb(41, 188, 224);
    border-left: solid 3px rgb(41, 188, 224);
    border-radius: 0.2rem;
    }

    .negro__bottom  {
        @extend .contenedor-m;
        border-bottom: solid 3px rgb(41, 188, 224);
        border-radius: 0.2rem;
        }
        .negro__top  {
            @extend .contenedor-m;
            border-top: solid 3px rgb(41, 188, 224);
            border-radius: 0.2rem;
            }
    

.nigga {
   background-color: transparent;
}

   

.section__dark {
    background-image: linear-gradient(to top, rgb(20, 20, 20), rgba(20, 20, 20, 0.180));
}

.fondo__1 {
    background-image: url(../Imagenes/pexels-soloman-soh-1492232.jpg);
    background-attachment: fixed;
}

.fondo__2 {
    background-image: url(../Imagenes/pexels-mitchell-luo-3809772.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}